:root{
    --french-rose: #f7477aff;
    --red: #f80000ff;
    --black: #000000ff;
    --honey-yellow: #ffb20fff;
    --fiery-rose: #fe546bff;
    --white:#fff;
    --title-1:3.6rem;
    --title-2:2.4rem;
    --title-3:2.2rem;
    --title-4:1.6rem;
    --title-5:1.4rem;
    --title-6:1.2rem;
}
*{
    box-sizing: border-box;
    padding: 0;
}
html{
    font-family: 'League Spartan', sans-serif;
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}
.body {
        margin: 0;
        margin-bottom: 100px;
}
header{
    width: 100%;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.logo{
    width: 50px;
    height: 48px;
    grid-column: 2/3;
}
.logo img{
    width: 100%;
}
.shopping-card{
    position: relative;
}
.shopping-card-link{
    width: 70px;
    height: 67px;
    position: relative;
}
.shopping-card__link img{
    width: 40px;
    height: 40px;
}
.shopping-card__number{
    width: 24px;
    height: 24px;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--honey-yellow);
    border-radius: 50%;
    font-size: var(--title-5);
    font-weight: bold;
    color: var(--white);
}
.menu-container{
    position: relative;
}
.menu-container img{
    width: 47px;
    height: 47px;
}
.menu-container__options{
    width: 280px;
    height: 140px;
    background-color: var(--fiery-rose);
    border-radius: 5px;
    position: absolute;
    top: 60px;
    padding: 10px 15px;
    transition: 0.3;
    z-index: 100;
}
.menu-container__options a{
    width: 100%;
    display:inline-block;
    height: 30px;
    font-size: var(--title-4);
    color: var(--white);
    font-weight: 500;
}
.nav-container{
    display: none;
}
.Log-in{
    display: none;
}
main{
    width: 100%;
    height: auto;
}
main h1{
    width: 100%;
    text-align: center;
    font-size: var(--title-2);
    color: var(--fiery-rose);
    font-weight: bold;
}
.shopping{
    width: 100%;
    height: auto;
}
.shopping-container{
    width: 90%;
    height: 140px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 70px;
    margin: 16px auto;
    border-bottom: 1px solid var(--fiery-rose);
}
.shopping-img{
    width: 75px;
    height: 60px;
    border-radius: 20px;
}
.shopping-title{
    grid-column: 2/3;
    font-size: var(--title-3);
    font-weight:bold;
}
button{
    border: none;
    outline: none;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--honey-yellow);
}
.card-Products__buttom--2{
    width: 120px;
    height: 40px;
    display: grid;
    grid-column: 3/4;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    background-color: transparent;
    color: var(--black);
    font-size: var(--title-3);
    font-weight: bold;
}
.card-Products__buttom-number{
    width: 40px;
    height: 40px;
    text-align: center;

}
.card-Products__buttom--2 button{
    width: 100%;
    height: inherit;
    background-color: transparent;
    color: var(--black);
    font-size: var(--title-2);
}
.card-Products__buttom--2 button:active{
    background-color: var(--honey-yellow);
    border-radius: 50%;
}
main .shopping .shopping-button-delete:active{
    width: 34px;
    height: 34px;
    background-color: transparent;
}
.shopping-button-delete{
    width: 24px;
    height: 24px;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: transparent;
}
.shopping-button-delete img{
    width: 100%;
}
.shopping-value{
    font-size: var(--title-3);
    display: flex;
    gap: 2px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.payment{
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row: 1fr 1fr;
}
.payment-total{
    grid-column: 2/3;
}
.payment-total p{
    font-size: var(--title-2);
    text-align: center;
}
.payment-button{
    grid-column: 2/3;
    grid-row: 2/3;
}
.button{
    width: 150px;
    height: 40px;
    background-color: var(--french-rose);
    color: var(--white);
    font-size: var(--title-3);
    font-weight: bold;
    border-radius: 20px;
    margin: 0 auto;
}


