.table{
    width: 1500px;
    grid-template-columns: repeat(12, 1fr);
}
.main-table__header{
    grid-template-rows: 30px;
}
.main-table__header-title-big{
    grid-column: 8/10;
}
.main-table-container{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
