:root{
    --french-rose: #f7477aff;
    --red: #f80000ff;
    --black: #000000ff;
    --honey-yellow: #ffb20fff;
    --fiery-rose: #fe546bff;
    --white:#fff;
    --title-1:3.6rem;
    --title-2:2.4rem;
    --title-3:2.2rem;
    --title-4:1.6rem;
    --title-5:1.4rem;
    --title-6:1.2rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'League Spartan', sans-serif;
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}
header{
    width: 100%;
    height: 60px;   
    padding: 16px 0px;
}
nav{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 16px 0px 16px 0;
}
nav{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.logo{
    width: 50px;
    height: 48px;
    grid-column: 2/3;
}
.logo img{
    width: 100%;
}
.shopping-card{
    position: relative;
}
.shopping-card-link{
    width: 70px;
    height: 67px;
    position: relative;
}
.shopping-card__link img{
    width: 40px;
    height: 40px;
}
.shopping-card__number{
    width: 24px;
    height: 24px;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--honey-yellow);
    border-radius: 50%;
    font-size: var(--title-5);
    font-weight: bold;
    color: var(--white);
}
.menu-container{
    position: relative;
}
.menu-container img{
    width: 47px;
    height: 47px;
}
.menu-container__options{
    width: 280px;
    height: 140px;
    background-color: var(--fiery-rose);
    border-radius: 5px;
    position: absolute;
    top: 60px;
    padding: 10px 15px;
    transition: 0.3;
    z-index: 100;
}
.menu-container__options a{
    width: 100%;
    display:inline-block;
    height: 30px;
    font-size: var(--title-4);
    color: var(--white);
    font-weight: 500;
}
.nav-container{
    display: none;
}
.Log-in{
    display: none;
}
main{
    width: 100%;
    height: auto;
}
main h1{
    width: 100%;
    text-align: center;
    font-size: var(--title-2);
    color: var(--fiery-rose);
    font-weight: bold;
}
.products{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-Products{
    width: 240px;
    height: 378px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid var(--french-rose);
    margin: 16px;
}
.card-Products__img{
    width: 210px;
    height: 180px;
    position: relative;
}
.card-Products__img img{
    width: 100%;
    height: inherit;
    border-radius: 20px;
}
.card-Products__ranking{
    width: 28px;
    height: 28px;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--french-rose);
    border-radius: 50%;
    padding: 2px;
}
.card-Products__ranking img{
    width: 10px;
    height: 10px;
}
.card-Products__ranking span{
    font-size: var(--title-6);
    font-weight: 500;
    color: var(--white);
}
.card-Products__cost{
    width: 96px;
    height: 36px;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--french-rose);
    border-top-left-radius:20px;
    border-bottom-right-radius:20px ;
}
.card-Products__cost span{
    font-size: var(--title-4);
    font-weight: bold;
    color: var(--white);
}

.card-Products__title{
    width: 80%;
    font-size: var(--title-4);
    font-weight: bold;
    text-align: center;
}
.card-Products__description{
    width: 90%;
    font-size: var(--title-5);
    font-weight: 300;
    line-height: 1.4rem;
    text-align: justify;
    margin-bottom: 4px;
}
.card-Products__key-words{
    width: 90%;
    font-size: var(--title-6);
    line-height: 1.4rem;
    text-align: justify;
    margin-bottom: 4px;
}
button{
    border: none;
    outline: none;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--honey-yellow);
}
.card-Products__buttom{
    width: 140px;
    height: 40px;
}
.card-Products__buttom--1{
    width: 100%;
    height: inherit;
    display: block;
    border-radius: 20px;
    background-color: var(--french-rose);
    color: var(--white);
    font-size: var(--title-4);
    font-weight: bold;
}
.card-Products__buttom--2{
    width: 100%;
    height: inherit;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    background-color: var(--french-rose);
    overflow: hidden;
    border-radius: 20px;
    color: var(--white);
    font-size: var(--title-3);
    font-weight: bold;
}
.card-Products__buttom-number{
    width: 50px;
    height: 50px;
    text-align: center;

}
.card-Products__buttom--2 button{
    width: 100%;
    height: inherit;
    background-color: transparent;
    color: var(--white);
    font-size: var(--title-2);
}
.card-Products__buttom--2 button:active{
    background-color: var(--honey-yellow);
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--french-rose);
}
.footer-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-icons img{
    width: 30px;
    height: 30px;
}
