:root{
    --french-rose: #f7477aff;
    --red: #f80000ff;
    --black: #000000ff;
    --honey-yellow: #ffb20fff;
    --fiery-rose: #fe546bff;
    --white:#fff;
    --title-1:3.6rem;
    --title-2:2.4rem;
    --title-3:2.2rem;
    --title-4:1.6rem;
    --title-5:1.4rem;
    --title-6:1.2rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'League Spartan', sans-serif;
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}
header{
    width: 100%;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.logo{
    width: 50px;
    height: 48px;
    grid-column: 2/3;
}
.logo img{
    width: 100%;
}
.shopping-card{
    position: relative;
}
.shopping-card-link{
    width: 70px;
    height: 67px;
    position: relative;
}
.shopping-card__link img{
    width: 40px;
    height: 40px;
}
.shopping-card__number{
    width: 24px;
    height: 24px;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--honey-yellow);
    border-radius: 50%;
    font-size: var(--title-5);
    font-weight: bold;
    color: var(--white);
}
.menu-container{
    position: relative;
}
.menu-container img{
    width: 47px;
    height: 47px;
}
.menu-container__options{
    width: 280px;
    height: 140px;
    background-color: var(--fiery-rose);
    border-radius: 5px;
    position: absolute;
    top: 60px;
    padding: 10px 15px;
    transition: 0.3;
    z-index: 100;
}
.menu-container__options a{
    width: 100%;
    display:inline-block;
    height: 30px;
    font-size: var(--title-4);
    color: var(--white);
    font-weight: 500;
}
.nav-container{
    display: none;
}
.Log-in{
    display: none;
}
main{
    width: 100%;
    height: auto;
}
.main-section{
    width: 100%;
    height: 200px;
}
.main-section__img{
    width: 100%;
    height: inherit;
    display: grid;
    place-content: center;
    background-image: url(IMG/corazones.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-section__img a{
    font-size: var(--title-1);
    color: var(--white);
    font-weight: 500;
    text-align: center;
    line-height: 3rem;
    text-shadow: 5px 6px 5px var(--black);
}
.main-title{
    width: 100%;
    height: auto;
    font-size: var(--title-2);
    color: var(--fiery-rose);
    text-align: center;
    margin: 40px 0px 0px 0px;
}
.product-container{
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 20px 12px;
    margin:0 auto;
}
.product-card{
    width: 283px;
    height: 251px;
    display: grid;
    position: relative;
    border: 3px solid var(--fiery-rose);
    border-radius: 55px 55px 0px 55px;
    margin: 16px 0px;
}
.product-card-galletas{
    background-image: url(IMG/galletas.webp);
}
.product-card-chocolate{
    background-image: url(IMG/chocolatinas.webp);
}
.product-card-confeti{
    background-image: url(IMG/candys.webp);
}
.product-card-fitness{
    background-image: url(IMG/fitnness.webp);
}
.product-card-picante{
    background-image: url(IMG/picantes.webp);
}
.product-card__background{
    place-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-card__text{
    width: 142px;
    height: 36px;
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: var(--fiery-rose);
    border-top-left-radius: 20px;
}
.product-card__text span{
    font-size: var(--title-3);
    font-weight: 500;
    text-align: center;
    color: var(--white);
}
footer{
    width: 100%;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--french-rose);
}
.footer{
    position: absolute;
    bottom: 0px;
}
.footer-icons{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.footer-icons img{
    width: 30px;
    height: 30px;
}
